{{#each recipe}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" href="{{this.link}}">{{this.title}}</h5>
    <p class="card-text">{{this.summary}}</p>
    <a class="btn btn-primary save-recipe">Save Recipe</a>
  </div>
</div> 
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>
